.fixed-table-container {
  box-sizing: border-box;
  height: calc(100vh - 97px);
  padding: 0;
}
.fixed-table-container table {
  border-collapse: collapse;
  width: 100%;
}
.fixed-table-container th,
.fixed-table-container td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  vertical-align: top;

  /**
    * Current implementation doesn't work when
    * cells in a row have different heights
    */
  white-space: nowrap !important;
}
.fixed-table-container th {
  background: #eee;
  font-size: 12px;
  line-height: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fixed-table-container td:first-child {
  background: #eee;
}
@media screen and (max-width: 1008px) {
  .fixed-table-container {
    height: calc(100vh - 122px);
  }
}

@media screen and (max-width: 774px) {
  .fixed-table-container {
    height: calc(100vh - 148px);
  }
}

@media screen and (max-width: 769px) {
  .fixed-table-container {
    height: auto;
  }
}

@media screen and (max-width: 444px) {
  .columns > .column > .field.is-grouped {
    flex-wrap: wrap;
  }
  .field.is-grouped .control{
    margin-bottom: 10px;
  }
  .hero-body .title{
    font-size: 1.5rem;
  }

  .hero-body .subtitle{
    font-size: 1rem;
  }
  .hero-body .column {
    padding: 0.5em;
  }
}

@media screen and (max-width: 360px) {
  .hero-body {
    padding: 0 10px;
  }
}
