#map {
    height: 200px;
    display: none;
}

.first_column {
    width: 150px;
}

.row_header {
    background-color: #aaa;
}

.unchanged {
}

.added {
    background-color: #cfc;
}

.removed {
    background-color: #fcc;
}

.changed {
    background-color: #ff9;
}

.version_column {
    min-width: 200px;
}
