#map {
    height: 200px;
    display: none;
}

.field {
    width: 10em;
    padding-left: 0.5em;
}

.row_header {
    background-color: #eee;
}

.unchanged {
}

.added {
    background-color: #cfc;
}

.removed {
    background-color: #fcc;
}

.changed {
    background-color: #ff9;
}

.version_cell {
    overflow: hidden;
    white-space: nowrap;
    padding-left: 0.3em;
    width: 13em;
}

table {
    width: auto;
}