table {
  border: 0px;
}
td {
  border: 0px;
  background-color: #ccc;
  color: #000;
}
.changed {
  background-color: #ff9;
  color: black;
} 
.new {
  background-color: #cfc;
  color: black;
}
.unchanged {
  color: #999;
  background-color: #eee 
}
.removed {
  color: white;
  background-color: #fcc;
}
.notpresent {
  background-color: #fff;
}
.empty {
  text-align: center;
  font-size: smaller;
}

.agreed {
  background-color: #cfc;
}
.disagreed {
  background-color: #fcc;
}
.undecided {
  background-color: #ff9;
}
